* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

@font-face {
    font-family: BDOGrotesk;
    src: url(BDOGrotesk-VF.woff2);
}

body {
    background-color: #F8F7F5;
    font-family: BDOGrotesk;
}

.container {
    overflow-y: scroll;
    height: 100vh;
}

@media (min-width: 768px) {
    .container {
        scroll-snap-type: y mandatory;
    }

    section {
        scroll-snap-align: start;
    }
    
    #landing-text-section {
        height: 50vh;
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: #ffffff00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo-text h1 {
    color: #5B5545;
    font-size: min(5vw, 1.2em);
    text-align: center;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    color: #919191;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: min(5vw, 0.7em);
}

nav>ul>li:hover {
    color: #383838;
    cursor: pointer;
}

li>a {
    color: inherit;
    text-decoration: none;
}

#landing-section {
    display: block;
}

#landing-section img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}

#landing-text-section {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#landing-section h1 {
    color: #383838;
    line-height: 1;
    font-size: 4rem;
    margin-bottom: 20px;
}

#landing-section h2 {
    font-weight: 500;
    color: #5B5545;
    font-size: 1rem;
}

#landing-section p {
    color: #383838;
    font-weight: 300;
    width: 500px;
    text-align: start;
    margin-bottom: 20px;
}

#skills-section ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(7 * 2rem); /* Adjust the height to fit 5 li elements, assuming each li is approximately 2rem high */
    align-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

#skills-section ul li {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: 2rem; /* Ensure each li element has a consistent height */
    width: 150px;
}

#skills-section ul li svg {
    height: 2rem; /* SVG icon takes up the same height as the li element */
    margin-right: 10px; /* Space between the icon and the text */
}

#skills-section ul li span {
    font-weight: 300;
    background-color: white;
    border-radius: 5px;
}


/*
#shorts-section {
    
}

#awards-section {
    
}
*/