* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F7F5;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    padding: 20px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/*
#introduction-section {
    
}

#technical-skills-section {
    
}

#shorts-section {
    
}

#awards-section {
    display: block;
}
*/

#awards-section {
    flex-direction: column;
}

#awards-area {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#awards-frame {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#awards-quote-frame {
    width: 50%;
}

.award, #awards-quote-frame {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.award img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}